.bmi__container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0;
}

.bmi__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__bmi {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;   
}

.singleRadio__bmi {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.bmi__total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 300px;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
  border-radius: 30px;
}

.bmi__resultBMI {
  color: #f0c32d;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bmi__category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 300px;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 3rem;
  border-radius: 30px;
}

p {
    color: black;
}

@media screen and (max-width: 850px) {
  .bmi__container {
  align-items: center;
}
}