.bmi__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  height: 100%;
  overflow: scroll;
  min-height: calc(100vh - 120px);
}

.bmi__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__bmi {
  margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;   
    font-size: 1.2rem;
}

.singleRadio__bmi {
    margin: 0 1rem;
    /* margin-bottom: 1rem; */
}

.bmi__total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.bmi__resultBMI {
  color: #f0c32d;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bmi__category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  border-radius: 10px;
}

p {
    color: black;
}

@media screen and (max-width: 850px) {
  .bmi__container {
  align-items: center;
}
}