.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  height: 100%;
  overflow: scroll;
  min-height: calc(100vh - 120px);
}

.contact__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.contact__photoMarcoCrupi {
  width: 10rem;
  border-radius: 100px;
  padding: 2;
}

.contact__description p {
  margin: 2rem 2rem;
  color: white;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.contact__name,
.contact__role {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.contact__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
}

@media screen and (max-width: 500px) {
  .contact__components {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .contact__description p {
    margin: 2rem 2rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .contact__description p {
    margin: 1rem 1rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
  .contact__photoMarcoCrupi {
    width: 8rem;
    border-radius: 100px;
    padding: 2;
  }
}
