.contact__container {
    display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  height: 100%;
  overflow: scroll;
}

.contact__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-width: 320px;
}

.contact__photoMarcoCrupi {
  width: 10rem;
  border-radius: 100px;
  padding: 2;
}

.contact__description p {
  margin: 2rem 2rem;
  color: white;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.contact__name,.contact__role {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.contact__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
}