footer {
  height: 60px;
  background-color: #f0c32d;
  text-align: center;
}

.footer_element {
  padding: 0 1rem;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
