nav {
  height: 60px;
  background-color: #f0c32d;
  width: 100%;
  z-index: 1000;
}

#navbar,#toggle {
  display: none;
}

.header__navbar {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.header__logo span {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.header__link {
  font-size: 1.2rem;
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__link:hover {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 850px) {

  nav {
    position: fixed;
  }

  .header__navbar {
    justify-content: space-between;
    align-items: center;
  }

  .header__links {
    display: none;
  }

  #toggle {
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #toggle.active {
    background: black;
  }

  #navbar {
    position: fixed;
    bottom: 100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0c32d;
    z-index: 1000;
  }

  #navbar.active {
    height: calc(100% - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbar ul li {
  list-style: none;
  margin: 2rem 0;
}

}
