* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

.home__outlet {
  height: 100%;
  background-color: #1b1b1b;
}

.description__shared {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  font-size: 1.3rem;
  font-style: italic;
  background-color: white;
}

.description__shared span {
  margin: 1rem;
}

.global__title {
  font-size: 3rem;
  margin: 2rem;
  color: #f0c32d;
  font-weight: bold;
  letter-spacing: 2px;
}
