.percentage__container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.percentage__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage__total {
  margin-top: 2rem;
  color: white;
}

.percentage__total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 200px;
  font-size: 5rem;
  color: black;
  margin-bottom: 3rem;
}

@media screen and (max-width: 850px) {
  .percentage__container {
  align-items: center;
}
}