.percentage__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: scroll;
}

.percentage__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage__total {
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 300px;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  border-radius: 20px;
}

@media screen and (max-width: 850px) {
  .percentage__container {
    align-items: center;
  }
}
