.rest__container {
  padding: 2rem;
  display: flex;
  align-items: center;
  color: #eee;
  height: 100vh;
}
.rest__components {
  width: 400px;
  min-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.control__button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

.play__button:focus {
  color: rgb(41, 255, 41);
}

.reset__button:focus {
  color: rgb(255, 43, 43);
}

.pause__button:focus {
  color: #2929ff;
}

.container__label {
  margin-top: 50px;
  text-align: left;
}

.settings__label {
  font-size: 1.8rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
