.rest__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  height: 100%;
  overflow: scroll;
  min-height: calc(100vh - 120px);
}

.rest__components {
  width: 600px;
  text-align: center;
  margin: 2rem 0;
}

.rest__circularandbuttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.control__button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

/* .play__button:focus {
  color: rgb(41, 255, 41);
}

.reset__button:focus {
  color: rgb(255, 43, 43);
}

.pause__button:focus {
  color: #f0c32d;
} */

.container__label {
  margin-top: 1rem;
  text-align: center;
}

.settings__label {
  font-size: 1.8rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.rest__timerSettings {
  color: #f0c32d;
}

.supportSlider {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 5px #f0c32d;
  border-radius: 50%;
  white-space: nowrap;
}

.supportSlider:before,
.supportSlider:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.supportSlider.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.sliderBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rest__preset::-webkit-scrollbar {
  height: 5px;
  display: block;
}

.rest__presetTitle {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.rest__blockPresetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.scrollmenu {
  background-color: #1b1b1b;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.scrollmenu button {
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.rest__presetButton.btn {
  margin: 0.4rem;
  margin-right: 1rem;
  font-weight: bold;
  color: #1b1b1b;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rest__saveTimerButtonBlock {
  margin-bottom: 1rem;
}

.rest__saveTimerButton {
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.rest__deletePreset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 30px;
}


@media screen and (max-width: 850px) {
  .rest__container {
    align-items: center;
    width: 100%;
  }

  .rest__circularprogressbar {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .rest__components {
    width: 80%;
  }

  .control__button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    display: inline-block;
    width: 60px;
    cursor: pointer;
  }

  .settings__label {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .rest__timerSettings {
    color: #f0c32d;
  }
}
