.set__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: scroll;
}

.set__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 200px;
  font-size: 5rem;
  color: black;
  margin-bottom: 2rem;
}

.set__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set__plus,
.set__less {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.set__reset {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 6rem;
}

@media screen and (max-width: 850px) {
  .set__container {
  align-items: center;
}
}