.slider{
    height: 20px;
    border: 2px solid #f0c32d;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 2rem;
}

.thumb{
    background-color: white;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}

@media screen and (max-width: 850px) {

.slider{
    height: 15px;
    border: 2px solid #f0c32d;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 1rem;
}

.thumb{
    background-color: white;
    cursor:pointer;
    width:25px;
    height: 25px;
    border-radius: 20px;
}
}