.slider{
    height: 20px;
    border: 2px solid #f0c32d;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 2rem;
}

.thumb{
    background-color: red;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}